.post {
    box-shadow: 2px 2px 24px -14px rgba(0, 0, 0, 1);
    background-color: #111;
    
}h3 {
    font-size:2em;
    padding: 4%;
    position: relative;
    text-align: center;
    line-height: 100%;
    margin: 0;
    color: red;
}

hr {
    margin: 0;
}

.tags {
    display: flex;
}p {
    margin: 1%;
    padding: 1%;
    font-size:1em;
    background-color: #333;
    color: white;
}p:hover {
    background-color: #444;
    cursor: pointer;
}

img {
    width: 100%;

}

@media (max-width: 600px) {
    h3 {
        font-size: 4vw;
    }
    .tags > p {
        font-size: 2vw;
    }
}
